body {
    background-color: ＃fff;
    margin-top: 50px;
    font-family: "Microsoft YaHei";
}


/* lead字体效果 */

.lead {
    @media screen and (max-width: 500px) {
        margin: 15px 0;
        padding: 0;
    }
    small {
        font-size: 0.6em;
        color: #ccc;
    }
}


/* lead字体效果 end*/


/* 绿色下划线效果 */

.line-effect {
    position: relative;
}

.line-effect:before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #85af6f;
}


/* 绿色下划线效果end */


/* 导航条 */

.nav-main {
    height: 50px;
    background-color: #fff;
}

.navbar-brand {
    padding: 0;
    img {
        height: 50px;
    }
}

#navbar-collapse-1 {
    margin-left: 150px;
    height: 48px;
}

#navbar-collapse-1 {
    >ul >li {
        margin: 0 1em;
        @media screen and (max-width: 1200px) {
            width: 100px;
        }
        @media screen and (min-width:1200px) {
            width: 150px;
        }
        @media screen and (max-width:1000px) {
            width: 100px;
            margin: 0;
        }
        >a {
            color: #444;
            letter-spacing: 1px;
            font-family: "Microsoft YaHei";
            &:hover {
                background-color: #9fca41;
                color: #000;
            }
        }
    }
}


/* 导航条 end*/


/* 导航条效果 */

.nav-effect {
    position: relative;
}

.nav-effect:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #85af6f;
    transition: all .3s;
}

.nav-effect:hover:before {
    width: 100%;
    left: 0;
    right: 0;
}


/* 二级菜单 */

.second-nav > ul {
    padding: 0;
    height: 90px;
    position: relative;
    background-color: #9fca41;
    @media screen and (max-width: 1200px) {
        width: 100px;
    }
    @media screen and (min-width:1200px) {
        width: 150px;
    }
    @media screen and (max-width:1000px) {
        width: 100px;
        margin: 0;
    }
}

.second-a {
    display: inline-block;
    width: 100%;
    height: 30px;
    color: #444;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    &:hover {
        text-decoration: none;
    }
}

.border-top {
    border-top: 1px solid #fff;
}

.second-nav> ul > li>a:hover {
    color: #fff;
}
/* 二级菜单 end*/
.navbar-toggle {
    background-color: floralwhite;
    .icon-bar {
        background-color: #000;
    }
}
/* 分割线效果 */
.hr-line {
    border-bottom: 2px dotted #ccc;
    border: 4px dotted #ccc;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}
/* 分割线效果 end*/
/* banner */
.banner {
    padding: 0;
    margin: 0;
}

.container .jumbotron,
.container-fluid .jumbotron,
.jumbotron {
    @media screen and (min-width: 768px) {
        margin: 0;
        padding: 0;
    }
    @media screen and (max-width: 768px) {
        margin: 0;
        padding: 0;
    }
}
/* banner end */
/* 风景名胜 */
.famous-scenery {
    padding: 50px 0;
    background-color: #fbfbfb;
    @media screen and (max-width: 500px) {
        margin: 0;
        padding: 0;
    }
}
.scenery-1 {
    margin-bottom: 0.1em;
    li {
        @media screen and (max-width: 500px) {
            width: 70px;
            a {
                padding: 0;
            }
        }
    }
    >li.active>a,
    >li.active>a:focus,
    >li.active>a:hover {
        color: #fff;
        background-color: #9FCA41;
    }
    li {
        a {
            color: #807f7f;
            &:hover {
                background-color: inherit;
            }
        }
    }
}

.scenery-2 {
    >li.active>a,
    >li.active>a:focus,
    >li.active>a:hover {
        color: #fff;
        background-color: #9FCA41;
    }
    li {
        a {
            color: #807f7f;
            &:hover {
                background-color: inherit;
            }
        }
    }
}

li {
    list-style: none;
}

.scenery-img {
    div {
        @media screen and (max-width: 500px) {
            padding: 0;
        }
    }
}


/* 风景名胜end */


/* 生态文明建设 百叶窗*/

.ecology {
    margin-top: 50px;
    position: relative;
    @media screen and (max-width: 500px) {
        margin-top: 0;
    }
}

.byc_wr {
    margin: 0 auto;
    width: 1010px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.byc {
    margin: 0;
    padding: 0;
}

.byc_wr ul>li {
    width: 250px;
    height: 400px;
    float: left;
    img {
        width: 240px;
        height: 240px;
        margin: 10px 10px;
    }
    .content {
        width: 240px;
        height: 140px;
        margin: 10px 10px;
        padding: 1px;
        background-color: #9FCA41;
    }
}

.btn_lft {
    width: 75px;
    height: 165px;
    background-image: url(../images/left-btn.png);
    position: absolute;
    top: 200px;
    left: -50px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    &:hover {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

.btn_rit {
    width: 75px;
    height: 165px;
    background-image: url(../images/right-btn.png);
    position: absolute;
    right: -50px;
    top: 200px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    &:hover {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        transform: translateX(10px);
    }
}


/* 生态文明建设 百叶窗end*/


/* 美丽乡村建设 */

.village {
    @media screen and (max-width: 500px) {
        margin-top: 0;
    }
    margin-top: 50px;
}


/* 美丽乡村建设end */


/* 版权 */

footer {
    margin-top: 15.2777778%;
    background-color: #3e3e3e;
    p{
        margin: 10px 0;
        padding: 0;
        color: #fff;
    }
}

//test
